pyserial==3.5
bleak==1.1.1
cryptography>=45,<51
pyobjc-core==11.1; sys_platform == "darwin"
pyobjc-framework-Cocoa==11.1; sys_platform == "darwin"
pyobjc-framework-CoreBluetooth==11.1; sys_platform == "darwin"
pyobjc-framework-libdispatch==11.1; sys_platform == "darwin"
